@inherits ListOfTodos.Client.Components.TodoComponentBase


<div class="row todo-row">
    <input type="checkbox" class="todo-content col-1 todo-checkbox todo-content" @bind="@TodoItem.IsDone" onblur="@UpdateCallback">

    <input type="text" class="form-control todo-content col-8" @bind="@TodoItem.TaskName" onblur="@UpdateCallback"  />

    <input type="date" class="todo-content" @bind="@TodoItem.DueDate" onblur="@UpdateCallback"  />
</div>



<style>
    .todo-row {
        border-radius: 2em;
        background: #4BB2F97A;
        color: #fff;
        margin-bottom: 1em;
        margin-bottom: 1em;
    }
    .todo-content {
        background: transparent;
        border: transparent;
        color: white;
    }
    .todo-checkbox {
        margin: 0.5em;
    }

</style>
